@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  color: variables.$uoc-corporate;
  background-color: variables.$uoc-bg;
  flex-direction: column;
}

section {
  margin: auto;
  padding: 1rem;
  max-width: variables.$content-max-width;
}
