{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": ["stylelint-order"],
  "rules": {
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      "at-rules"
    ],
    "order/properties-order": [
      {
        "groupName": "Box Model",
        "properties": [
          "display",
          "position",
          "top",
          "right",
          "bottom",
          "left",
          "flex",
          "flex-grow",
          "flex-shrink",
          "flex-basis",
          "align-items",
          "justify-content",
          "width",
          "height",
          "margin",
          "padding",
          "border",
          "border-radius",
          "box-shadow"
        ]
      },
      {
        "groupName": "Typography",
        "properties": [
          "font",
          "font-family",
          "font-size",
          "font-weight",
          "line-height",
          "text-align",
          "color",
          "text-transform",
          "text-decoration"
        ]
      },
      {
        "groupName": "Visual",
        "properties": ["background", "background-color", "opacity"]
      },
      {
        "groupName": "Misc",
        "properties": ["cursor", "z-index", "transition", "animation"]
      }
    ],

    "color-named": "never",
    "selector-max-id": 1,
    "max-nesting-depth": 3,
    "selector-class-pattern": "^[a-z0-9\\-]+$",

    "scss/dollar-variable-pattern": "^[a-z0-9\\-]+$",
    "scss/percent-placeholder-pattern": "^[a-z0-9\\-]+$",

    "no-empty-source": null
  }
}
