@use "../variables";

.uoc-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 200px;

  @media (max-width: variables.$mq-min-width) {
    width: 100%;
    max-width: none;
  }
}
