@use "../variables";
@use "../utils/functions";

.nav {
  margin-right: auto;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;

    li {
      padding: 0.5rem 2rem;
      font-weight: bold;

      a {
        text-decoration: none;
        color: variables.$uoc-corporate;
      }
    }

    li:hover {
      background-color: functions.adjust-lightness(
        variables.$uoc-masterbrand,
        30%
      );
    }
  }

  @media (max-width: variables.$mq-min-width) {
    ul {
      flex-direction: column;
      gap: 0;
    }
  }
}
