<section class="presentation">
    <div class="image-card">
        <div class="content">
            <h1 class="uoc-title">Descobreix Nara, el cor espiritual del Japó</h1>
            <p>
                Nara, antiga capital del Japó, és una ciutat plena de calma, tradició i bellesa natural.
                Passejar pels seus carrers és com fer un viatge en el temps: temples mil·lenaris, cérvols que passegen
                lliurement i un ambient que respira harmonia.
                Situada a prop d'Osaka i Kyoto, és una destinació imprescindible per als amants de la cultura japonesa.
            </p>
        </div>
        <picture class="image">
            <source srcset="./assets/images/presentation.jpg?as=webp&width=640" type="image/webp" />
            <img alt="Cèrvol en un parc de Nara" loading="lazy" />
        </picture>
    </div>
</section>
<section class="places">
    <h1 class="uoc-title">Què visitar a Nara</h1>
    <p>Tot i ser una ciutat petita, Nara acull alguns dels tresors culturals més importants de Japó. Aquests són alguns
        dels llocs que no et pots perdre:</p>
    <ul class="l-grid">
        <li class="image-card image-card-small">
            <picture class="image">
                <source srcset="./assets/images/nara_park.jpg?as=webp&width=320" type="image/webp" />
                <img alt="Un cérvol al parc de Nara" loading="lazy" />
            </picture>
            <div class="content">
                <h1 class="uoc-title">Parc de Nara</h1>
                <p>
                    Un dels parcs més antics del país, on centenars de cérvols sagrats conviuen amb els visitants.
                </p>
            </div>
        </li>
        <li class="image-card image-card-small">
            <picture class="image">
                <source srcset="./assets/images/todaiji.jpg?as=webp&width=320" type="image/webp" />
                <img alt="Temple tradicional japonès " loading="lazy" />
            </picture>
            <div class="content">
                <h1 class="uoc-title">Temple Tōdai-ji</h1>
                <p>
                    Patrimoni de la humanitat, acull el Gran Buda de bronze més gran del Japó.
                </p>
            </div>
        </li>
        <li class="image-card image-card-small">
            <picture class="image">
                <source srcset="./assets/images/kasuga.jpg?as=webp&width=320" type="image/webp" />
                <img alt="Petit temple sobre un llac" loading="lazy" />
            </picture>
            <div class="content">
                <h1 class="uoc-title">Santuari Kasuga Taisha</h1>
                <p>
                    Conegut pels seus milers de fanalets de pedra i bronze.
                </p>
            </div>
        </li>
        <li class="image-card image-card-small">
            <picture class="image">
                <source srcset="./assets/images/isuien.jpg?as=webp&width=320" type="image/webp" />
                <img alt="Flor de nenúfar" loading="lazy" />
            </picture>
            <div class="content">
                <h1 class="uoc-title">Jardí Isuien</h1>
                <p>
                    Un oasi de calma i bellesa paisatgística.
                </p>
            </div>
        </li>
        <li class="image-card image-card-small">
            <picture class="image">
                <source srcset="./assets/images/naramachi.jpg?as=webp&width=320" type="image/webp" />
                <img alt="Imatge d'un dolç típic de Nara " loading="lazy" />
            </picture>
            <div class="content">
                <h1 class="uoc-title">Naramachi</h1>
                <p>
                    El barri històric amb cases de fusta, botigues artesanes i cases de te.
                </p>
            </div>
        </li>
    </ul>
</section>
<section class="culture">
    <div class="image-card">
        <div class="content">
            <h1 class="uoc-title">Tradició, sabor i espiritualitat</h1>
            <p>
                Nara és un dels bressols del budisme japonès i manté viva la seva essència espiritual.
                A més, ofereix una gastronomia senzilla però deliciosa, amb productes locals com el
                <em>kakinoha-zushi</em> (sushi embolicat amb fulles de caqui) i el <em>narazuke</em>, una conserva de
                verdures amb sake.
            </p>
        </div>
        <picture class="image">
            <source srcset="./assets/images/culture.jpg?as=webp&width=640" type="image/webp" />
            <img alt="Imatge d'un dolç típic de Nara " loading="lazy" />
        </picture>
    </div>
</section>