@use "../variables";

#header {
  padding: 1rem;
  display: flex;
  align-items: center;

  background-color: variables.$uoc-masterbrand;

  @media (max-width: variables.$mq-min-width) {
    flex-direction: column;
    text-align: center;
  }
}
