@use "utils/functions";

$font-family-sans-serif: -apple-system, blinkMacSystemFont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: functions.adjust-lightness($uoc-masterbrand, 70%);
$mq-min-width: 728px;
$content-max-width: 1040px;
